annotated-types
antlr4-python3-runtime
appdirs==1.4.4
appnope
asttokens
backports.tarfile==1.2.0
bokeh
Bottleneck
Brotli
build==1.2.2.post1
certifi==2024.8.30
charset-normalizer
click
# clirk==1.0.6
cloudpickle
comm
contourpy
cycler==0.12.1
cytoolz
dask==2024.12.1
dask-expr
debugpy
decorator
dill==0.3.9
distributed
docutils==0.21.2
ErrorGnoMark
exceptiongroup
executing
fire
fonttools==4.55.3
fsspec==2024.12.0
gmpy2
HeapDict
idna==3.10
importlib_metadata
ipykernel
ipython
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keyring==25.6.0
kiwisolver==1.4.7
lark-parser
llvmlite
lmdb
locket
lz4
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.3
matplotlib-inline
mdurl==0.1.2
more-itertools==10.5.0
mpmath
msgpack
nest_asyncio
networkx
nh3==0.2.20
numba
numexpr
numpy
packaging
pandas
parso
partd
pbr==6.1.0
pexpect
pickleshare
Pillow
pkginfo==1.12.0
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pyarrow==11.0.0
pydantic
pydantic-settings
pydantic_core
Pygments==2.18.0
pyparsing==3.2.0
pyproject_hooks==1.2.0
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
qiskit==1.3.1
qiskit-aer==0.15.1
quantum-blackbird
quantum-xir
quarkcircuit==0.2.7
quarkstudio==7.1.5
readme_renderer==44.0
requests
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
rustworkx==0.15.1
scipy
six
sortedcontainers
srpc==4.5.0
stack_data
stevedore==5.4.0
StrawberryFields
symengine==0.13.0
sympy
tblib
termcolor
thewalrus
toml
tomli==2.2.1
toolz
tornado
tqdm==4.67.1
traitlets
twine==6.0.1
typing_extensions
tzdata
urllib3
wcwidth
xanadu-cloud-client
xyzservices
zee==0.0.4
zict
zipp
